<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.ed.dao.InterfaceReqCountMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.ed.model.InterfaceReqCount" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="INTERFACE_ID" property="interfaceId" jdbcType="VARCHAR" />
    <result column="INTERFACE_CODE" property="interfaceCode" jdbcType="VARCHAR" />
    <result column="INTERFACE_NAME" property="interfaceName" jdbcType="VARCHAR" />
    <result column="INTERFACE_TYPE" property="interfaceType" jdbcType="VARCHAR" />
    <result column="INTERFACE_COMPANY" property="interfaceCompany" jdbcType="VARCHAR" />
    <result column="REQUEST_USER" property="requestUser" jdbcType="VARCHAR" />
    <result column="REQUEST_TIME" property="requestTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapExtends" type="com.hex.bigdata.udsp.ed.dto.InterfaceReqCountDto" extends="BaseResultMap">
    <result column="REQ_URL" property="reqUrl" jdbcType="VARCHAR" />
    <result column="SERVICE_DESC" property="serviceDesc" jdbcType="VARCHAR" />
    <result column="VALID_TIME" property="validTime" jdbcType="INTEGER" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ED_INTERFACE_COUNT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.ed.model.InterfaceReqCount" >
    insert into ED_INTERFACE_COUNT (PK_ID, INTERFACE_ID, INTERFACE_CODE, 
      INTERFACE_NAME, INTERFACE_TYPE, INTERFACE_COMPANY, 
      REQUEST_USER, REQUEST_TIME)
    values (#{pkId,jdbcType=VARCHAR}, #{interfaceId,jdbcType=VARCHAR}, #{interfaceCode,jdbcType=VARCHAR}, 
      #{interfaceName,jdbcType=VARCHAR}, #{interfaceType,jdbcType=VARCHAR}, #{interfaceCompany,jdbcType=VARCHAR}, 
      #{requestUser,jdbcType=VARCHAR}, #{requestTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.ed.model.InterfaceReqCount" >
    update ED_INTERFACE_COUNT
    set INTERFACE_ID = #{interfaceId,jdbcType=VARCHAR},
      INTERFACE_CODE = #{interfaceCode,jdbcType=VARCHAR},
      INTERFACE_NAME = #{interfaceName,jdbcType=VARCHAR},
      INTERFACE_TYPE = #{interfaceType,jdbcType=VARCHAR},
      INTERFACE_COMPANY = #{interfaceCompany,jdbcType=VARCHAR},
      REQUEST_USER = #{requestUser,jdbcType=VARCHAR},
      REQUEST_TIME = #{requestTime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, INTERFACE_ID, INTERFACE_CODE, INTERFACE_NAME, INTERFACE_TYPE, INTERFACE_COMPANY, 
    REQUEST_USER, REQUEST_TIME
    from ED_INTERFACE_COUNT
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, INTERFACE_ID, INTERFACE_CODE, INTERFACE_NAME, INTERFACE_TYPE, INTERFACE_COMPANY, 
    REQUEST_USER, REQUEST_TIME
    from ED_INTERFACE_COUNT
  </select>



  <!-- 以下需要修改 -->
  <select id="getServiceCountList" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.ed.dto.ServiceCountDto">
    SELECT c.PK_ID, c.SERVICE_INFO_ID, c.SERVICE_NAME, c.SERVICE_CN_NAME, c.SERVICE_TYPE, c.SERVICE_COMPANY,
    c.REQUEST_USER, c.REQUEST_TIME
    FROM EDAP_SERVICE_COUNT c
    WHERE 1=1
    <if test="pkId != null and pkId != ''">and PK_ID = #{pkId}</if>
    <if test="serviceInfoId != null and serviceInfoId != ''">and SERVICE_INFO_ID = #{serviceInfoId}</if>
    <if test="serviceName != null and serviceName != ''">and SERVICE_NAME like '${serviceName}%'</if>
    <if test="serviceCnName != null and serviceCnName != ''">and SERVICE_CN_NAME like '%${serviceCnName}%'</if>
    <if test="serviceType != null and serviceType != ''">and SERVICE_TYPE = #{serviceType}</if>
    <if test="serviceCompany != null and serviceCompany != ''">and SERVICE_COMPANY = #{serviceCompany}</if>
    <if test="requestUser != null and requestUser != ''">and REQUEST_USER = #{requestUser}</if>
    <if test="startTime != null and startTime != ''">and c.REQUEST_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd')</if>
    <if test="endTime != null and endTime != ''">and c.REQUEST_TIME &lt;= to_date(#{endTime},'yyyy-mm-dd')</if>
  </select>

  <select id="getServiceCountGroupByDay" resultMap="BaseResultMapExtends">
    SELECT i.PK_ID, i.SERVICE_NAME, i.SERVICE_CN_NAME, i.SERVICE_TYPE, i.SERVICE_COMPANY,i.VALID_TIME,
    i.REQ_URL, i.SERVICE_DESC, gb.intervalTime, gb.count
    FROM
    (SELECT count(c.REQUEST_TIME) as 'count', c.SERVICE_NAME, to_char(c.REQUEST_TIME,'yyyy-mm-dd') as intervalTime
    FROM EDAP_SERVICE_COUNT c GROUP BY c.SERVICE_NAME,to_char(c.REQUEST_TIME,'yyyy-mm-dd')) gb
    LEFT JOIN EDSP_SERVICE_INFO i on gb.SERVICE_NAME = i.SERVICE_NAME
    WHERE i.IS_DEL = '0'
    ORDER BY gb.intervalTime desc
  </select>



</mapper>