<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.ed.dao.ServiceInfoMapper" >
    <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.ed.model.ServiceInfo" >
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
        <result column="SERVICE_NAME" property="serviceName" jdbcType="VARCHAR" />
        <result column="SERVICE_CN_NAME" property="serviceCnName" jdbcType="VARCHAR" />
        <result column="VALID_TIME" property="validTime" jdbcType="INTEGER" />
        <result column="REQ_URL" property="reqUrl" jdbcType="VARCHAR" />
        <result column="SERVICE_DESC" property="serviceDesc" jdbcType="CHAR" />
        <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
        <result column="SERVICE_COMPANY" property="serviceCompany" jdbcType="VARCHAR" />
        <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
        <result column="CRT_TIME" property="crtTime" jdbcType="TIMESTAMP" />
        <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="IS_DEL" property="isDel" jdbcType="CHAR" />
    </resultMap>

    <select id="getServiceInfoByPkId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT i.PK_ID, i.SERVICE_NAME, i.SERVICE_CN_NAME, i.VALID_TIME, i.REQ_URL, i.SERVICE_DESC, i.SERVICE_TYPE,
        i.SERVICE_COMPANY, i.CRT_USER, i.CRT_TIME, i.UPDATE_USER, i.UPDATE_TIME
        FROM EDAP_SERVICE_INFO i
        WHERE PK_ID = {pkId,jdbcType="VARCHAR"} and IS_DEL = '0'
    </select>

    <select id="getServiceInfoList" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.ed.dto.ServiceInfoDto">
        SELECT i.PK_ID, i.SERVICE_NAME, i.SERVICE_CN_NAME, i.VALID_TIME, i.REQ_URL, i.SERVICE_DESC, i.SERVICE_TYPE,
        i.SERVICE_COMPANY, nvl2(l1.USER_NAME,l1.USER_NAME,i.CRT_USER) AS CRT_USER, i.CRT_TIME,
        nvl2(l2.USER_NAME,l2.USER_NAME,i.UPDATE_USER) AS UPDATE_USER, i.UPDATE_TIME
        FROM EDAP_SERVICE_INFO i
        LEFT JOIN T_GF_LOGINUSER l1 ON i.CRT_USER = l1.USER_ID
        LEFT JOIN T_GF_LOGINUSER l2 ON i.UPDATE_USER = l2.USER_ID
        WHERE IS_DEL = '0'
        <if test="serviceName != null and serviceName != ''">and i.SERVICE_NAME like '${serviceName}%'</if>
        <if test="serviceCnName != null and serviceCnName != ''">and i.SERVICE_CN_NAME like '%${serviceCnName}%'</if>
        <if test="serviceType != null and serviceType != ''">and i.SERVICE_TYPE = #{serviceType}</if>
        <if test="serviceCompany != null and serviceCompany != ''">and i.SERVICE_COMPANY = #{serviceCompany}</if>
        <if test="startTime != null and startTime != ''">and i.CRT_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd')</if>
        <if test="endTime != null and endTime != ''">and i.CRT_TIME &lt;= to_date(#{endTime},'yyyy-mm-dd')</if>
    </select>

    <select id="selectByServiceName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT i.PK_ID, i.SERVICE_NAME, i.SERVICE_CN_NAME, i.VALID_TIME, i.REQ_URL, i.SERVICE_DESC, i.SERVICE_TYPE,
        i.SERVICE_COMPANY, i.CRT_USER, i.CRT_TIME, i.UPDATE_USER, i.UPDATE_TIME
        FROM EDAP_SERVICE_INFO i
        WHERE SERVICE_NAME = {serviceName,jdbcType="VARCHAR"} and IS_DEL = '0'
    </select>

    <insert id="addServiceInfo" parameterType="com.hex.bigdata.udsp.ed.model.ServiceInfo">
        INSERT INTO EDAP_SERVICE_INFO
        (PK_ID, SERVICE_NAME, SERVICE_CN_NAME, VALID_TIME, REQ_URL, SERVICE_DESC, SERVICE_TYPE,
        SERVICE_COMPANY, CRT_USER, CRT_TIME)
        VALUES
        (#{pkId,jdbcType="VARCHAR"},#{serviceName,jdbcType="VARCHAR"},#{serviceCnName,jdbcType="VARCHAR"},#{validTime,jdbcType="INTEGER"},
        #{reqUrl,jdbcType="VARCHAR"},#{serviceDesc,jdbcType="VARCHAR"},#{serviceType,jdbcType="VARCHAR"}
        #{serviceCompany,jdbcType="VARCHAR"},#{crtUser,jdbcType="VARCHAR"},#{crtTime,jdbcType="TIMESTAMP"})
    </insert>

    <update id="updateServiceInfoByPkId" parameterType="com.hex.bigdata.udsp.ed.model.ServiceInfo">
        UPDATE EDAP_SERVICE_INFO
        SET
        SERVICE_TYPE = #{serviceType,jdbcType="VARCHAR"},
        SERVICE_COMPANY = #{serviceCompany,jdbcType="VARCHAR"},
        SERVICE_NAME = #{serviceName,jdbcType="VARCHAR"},
        SERVICE_CN_NAME = #{serviceCnName,jdbcType="VARCHAR"},
        VALID_TIME = #{validTime,jdbcType="INTEGER"},
        REQ_URL = #{reqUrl,jdbcType="VARCHAR"},
        <if test="serviceDesc != null and serviceDesc != ''">
            SERVICE_DESC = #{serviceDesc,jdbcType="VARCHAR"},
        </if>
        UPDATE_USER = #{updateUser,jdbcType="VARCHAR"},
        UPDATE_TIME = #{updateTime,jdbcType="TIMESTAMP"},
    </update>
    
    <update id="deleteServiceInfo" parameterType="java.lang.String">
        UPDATE EDAP_SERVICE_INFO
        SET
        IS_DEL = '1'
        WHERE PK_ID = {pkId,jdbcType="VARCHAR"}
    </update>
</mapper>